<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="payment">
        <div class="form-group" align="center">
            <select name="friendToPay" class="vertical-menu">
                {% for friend in strFriendList %}
                    <option value="{{ friend }}">{{ friend }}</option>
                {% endfor %}
            </select>
    
            <input type="submit" value="Submit" class="btn-primary" />
        </div>
    </form>
</body>
</html>